#header{
    background-image: url(../pexels-tim-mossholder-3612932.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 725px;
    width: 100%;
}
.nav-item .nav-link{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 40px;
    
  }
  .port{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 100px;
    margin-top: 80px;
  }
  #Aboutme{
    margin-top: 150px;
    height: 500px;
  }

  .card img{
    margin-left: 50px;
    margin-top: 20px;
  }


